<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <handlers accessPolicy="Read, Execute, Script">
            <remove name="PHP via FastCGI" />
            <add name="PHP via FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP\php-cgi.exe" resourceType="File" requireAccess="Execute" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />                     
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
                <verbs>
                    <remove verb="HTTP" />
                    <remove verb="HTTP GET" />
                    <remove verb="OPTIONS" />
                    <remove verb="CONNECT" />
                    <remove verb="TRACE" />
                    <remove verb="HEAD" />
                    <remove verb="PUT" />
                    <remove verb="DELETE" />
                    <remove verb="PATCH" />
                    <remove verb="POST" />
                    <remove verb="GET" />
                    <remove verb="HTTP POST" />
                </verbs>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
